# Core libraries
numpy
pandas
scikit-learn
matplotlib
seaborn
scipy


# Deep learning frameworks
tensorflow-cpu
torch
keras
autokeras

# Additional libraries
jupyter
scipy
pillow
joblib
Flask
google-cloud-storage
