<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Cancer Lesion Classifier</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .diagnosis {
            margin-top: 50px;
        }

        @media (max-width: 768px) {
            .diagnosis {
                margin-top: 30px;
            }
        }
    </style>
</head>

<body>

    <div class="container-fluid bg-light p-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h1 class="display-4 text-primary">Skin Cancer Lesion Classifier</h1>
                    <p class="lead">Upload an image and click submit</p>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <form method="post" action="/" enctype="multipart/form-data" class="text-center">
                        <div class="form-group">
                            <input type="file" class="form-control-file" name="file" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-md-8 text-center">
                    <div class="diagnosis">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <p class="lead">Diagnosis for the following image is: <strong>{{ messages[0] }}</strong></p>
                        <img src="{{ messages[1] }}" class="img-fluid rounded" alt="Diagnosed Image">
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>